body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
Header {
  text-align: center;
  width: 100%;
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  background-image: url('https://images.all-free-download.com/images/graphicthumb/multicolor_watercolor_splash_background_illustration_vector_544856.jpg');

}

img {
  width: 300px;
  height: 300px;
}
.main-box {
  text-align: center;
 

}